pandas == 0.25.1
matplotlib




filelock==3.0.12
Flask==1.1.1
folium==0.10.1
fsspec==0.6.2
future==0.18.2
fuzzywuzzy==0.17.0
pandas==1.0.1
pandas-profiling==2.3.0
pandocfilters==1.4.2
parso==0.6.1
partd==1.1.0
path==13.1.0
pyshp==2.1.0
PySocks==1.7.1
pytest==5.3.5
ruamel-yaml==0.15.87
s3transfer==0.2.1
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4

